/* Let's highlight canvas boundaries */
#gjs {
  border: 3px solid #444;
}

/* Reset some default styling */
.gjs-cv-canvas {
  top: 0;
  width: 100%;
  height: 100%;
  position: initial !important;
}

.gjs-label-wrp {
  width: auto;
  padding-right: 0.5rem;
}
.gjs-field-wrp--text {
  min-width: 65%;
}

.gjs-block {
  width: auto;
  height: auto;
  min-height: auto;
}

.panel__basic-actions, .panel__devices {
  position: initial;
}

.panel__top {
  padding: 0;
  width: 100%;
  display: flex;
  position: initial;
  justify-content: center;
  justify-content: space-between;
}

.editor-row {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}

.editor-canvas {
  flex-grow: 1;
}

.panel__right {
  flex-basis: 230px;
  position: relative;
  overflow-y: auto;
}
.panel__right > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.panel__switcher {
  position: initial;
}

.fonts-container {
  font-size: 0.75rem;
}
#add-font {
  background-color: rgba(33,33,33,0.2);
  border-radius: 2px;
  box-shadow: 1px 1px 0 rgba(5,5,5,0.2), 1px 1px 0 rgba(43,43,43,0.2) inset;
  padding: 5px;
  position: relative;
  text-align: center;
  height: auto;
  width: 100%;
  cursor: pointer;
  color: #ddd;
  box-sizing: border-box;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.2);
  border: none;
  opacity: .85;
}
#added-fonts > div {
  margin: 0.75rem 0;
}
#added-fonts .fa-trash {
  margin-left: 0.75rem;
  cursor: pointer;
}
#added-fonts .fa-trash:hover {
  color: #d278c9;
}

.gjs-mdl-dialog {
  max-width: 600px;
}
.gjs-am-file-uploader {
  display: none;
}
.gjs-am-assets-cont {
  width: 100%;
  float: none;
}

.gjs-mdl-content a, .gjs-mdl-content button {
  display: inline-block;
  color: white;
  background: #333;
  margin-top: 0.5rem;
  border-radius: 5px;
  border-color: #444;
  padding: 0.5rem;
  font-size: .8rem;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}
.footer-text {
  font-size: .8rem;
  margin: 0 .5rem;
}
