<div class="panel__top">
  <div class="panel__basic-actions"></div>
  <div class="panel__devices"></div>
  <div class="panel__switcher"></div>
</div>
<div class="editor-row">
  <div class="editor-canvas">
    <div id="gjs"></div>
  </div>
  <div class="panel__right">
    <div class="layers-container"></div>
    <div class="styles-container"></div>
    <div class="traits-container"></div>
    <div class="fonts-container">
      <div class="gjs-trt-trait">
        <div class="gjs-label-wrp">
          <div class="gjs-label" title="Font link">Font link</div>
        </div>
        <div class="gjs-field-wrp gjs-field-wrp--text">
          <div class="gjs-field gjs-field-text">
            <input type="text" id="font-href" placeholder="e.g. https://fonts.googleapis.com/css?family=Roboto&display=swap">
          </div>
        </div>
      </div>
      <div class="gjs-trt-trait">
        <div class="gjs-label-wrp">
          <div class="gjs-label" title="Font name">Font name</div>
        </div>
        <div class="gjs-field-wrp gjs-field-wrp--text">
          <div class="gjs-field gjs-field-text">
            <input type="text" id="font-name" placeholder="e.g. Roboto">
          </div>
        </div>
      </div>
      <div class="gjs-trt-trait">
        <div class="gjs-label-wrp">
          <div class="gjs-label" title="Font CSS declaration">Font CSS declaration</div>
        </div>
        <div class="gjs-field-wrp gjs-field-wrp--text">
          <div class="gjs-field gjs-field-text">
            <input type="text" id="font-declaration" placeholder="e.g. 'Roboto', sans-serif">
          </div>
        </div>
      </div>
      <button id="add-font">Add Font</button>
      <h3>Added fonts</h3>
      <div id="added-fonts"></div>
      <h3>Default Font</h3>
      <div class="gjs-field gjs-select">
        <select name="default-font" id="default-font"></select>
        <div class="gjs-sel-arrow"><div class="gjs-d-s-arrow"></div></div>
      </div>
    </div>
  </div>
</div>
<div id="blocks"></div>
